doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/cart.css')
		<meta charset='UTF-8'>
	
		block content
			body
			div(class='page')
				div(class='menu-container')
					div(class='menu')
						div(class='date') 
							a(href='/') Aug 14, 2019
						div(class='cart')
							a(href='/cart') Cart
						div(class='orders')
							a(href='/orders') Orders
						if id == 1
							div(class='signup')
								a(href='/registration') SignUp
							div(class='login') 
								a(href='/authorization') LogIn
						else
							div(class='user-links')
								div(class='signup') Welcome #{id}
								form(action='/' method='post' class='logout')
									input(type='hidden' name='button-submit' id='button-submit')
									button(class='button-link') Logout
						if type == 1
							div(class='features') Features
				div(class='header-container')
					div(class='header')
						div(class='subscribe') Subscribe &#9662;
						div(class='logo')
							p Книжный магазин, который удивит
						div(class='social')
				form(class='search-form' action='/' method='post')
					input(id='request' name='request' type='text')
					button Submit
				if type == 2
					div(class='content-grid-container')
						div(class='content-grid-basket')
							each user in users
								div(class='content-grid-cell')
									div(class='cell')
										div(class='cell-top') Номер корзины
										div(class='cell-bottom') #{user.cart_id}
									div(class='cell')
										div(class='cell-top') Количество в сумме книг
										div(class='cell-bottom') #{user.book_sum_quantity}
									div(class='cell')
										div(class='cell-top') Количество разных книг 
										div(class='cell-bottom') #{user.book_count_qauntity}
									div(class='cell')
										div(class='cell-top') Стоимость
										div(class='cell-bottom') #{user.result}
									div(class='cell' ) 
										input(type='button' class='button-header' onclick='join_to_cart_courier('+ user.cart_id + ')') Присоединиться
				else
					div(class='form-row') Недоступно




