extends layout.pug

block links
	link(rel='stylesheet', href='/stylesheets/main.css')
	link(rel='stylesheet', href='/stylesheets/cart.css')

block scripts
	script(src='/ajax.js')

block content
	body
		div(class='content-grid-container')
			div(class='content-grid-basket')
				each book in books
					div(class='content-grid-basket-cell')
						div(class='basket-image')
						div(class='basket-book')
							div(class='basket-cell-top')
								a(href='/book/'+ book.id class='my_href') #{book.book_name}
							div(class='basket-cell-bottom') #{book.price}
						div(class='basket-quantity')
							div(class='basket-cell-top') Количество
							div(class='basket-cell-bottom') 
								input(type='number' class='quantity' id='book_' + book.id  min='1' value= book.quantity 
								onchange='book_to_cart_change(' + book.id +',' + book.price +')' onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57)") 
						div(class='basket-cost')
							div(class='basket-cell-top') Итог
							div(class='basket-cell-bottom') 
								input(type='text' class='result' name="result" id='result_' + book.id  min='1' 
								value=book.result readonly='true')
						div(class='basket-delete')
							a(href= '/cart/delete/' + book.id) Удалить
							//button( type='button'  onclick='delete_book_from_cart('+ book.id + ')') Удалить
			if id != 1			
				div(class='price-container')  
					div(class='price-cell') 
						p Итог: #{result}
						a(href='/order' class='button-link') Заказать
		
